<h2>Productos</h2>

{{#each products}}

<article aria-label="{{title}}">
    <h4>{{title}}</h4>
    <p>{{description}}</p>
    <div>
        <span>Precio: {{price}}</span>
        <span>Stock: {{stock}}</span>
    </div>
</article>

{{/each}}
